

.page {
  > .top-control-wrapper {
    height: 32.5vw;
    > .top-bar {
      background: #d43c33;
      display: flex;
      padding: 4.6875vw 3.125vw;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 3;
      box-sizing: border-box;
      > .logo {
        margin: 0.625vw 0;
        display: flex;
        align-items: center;
        > .logo-text {
          color: white;
          font-size: 1.2em;
          font-weight: bold;
          margin-left: 0.3em;
        }
      }
      > .download {
        color: white;
        position: relative;
        padding: 0 3.125vw;
        line-height: 9.375vw;
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 200%;
          border: 1px solid white;
          border-radius: 9.375vw;
          transform: scale(0.5);
          transform-origin: 0 0;
        }
      }
    }
    > .tabs-control {
      position: fixed;
      left: 0;
      width: 100%;
      top: 20vw;
      background: white;
      z-index: 3;
      > .tabs-nav {
        position: relative;
        display: flex;
        text-align: center;
        > .tabs-item {
          width: 33.33333%;
          line-height: 10.9375vw;
          color: #333;
          padding: 0.78125vw 0 0;
          &.active {
            color: #d33a31;
            > .tabs-item-text {
              border-bottom: 4px solid #d33a31;
            }
          }
          > .tabs-item-text {
            padding: 0 1.5625vw;
            display: inline-block;
          }
        }
      }
    }
  }

  > .tabsContent {
    .tabs-content1 {
      display: none;
      background: #fcfcfd;
      &.active {
        display: block;
      }
    }
  }
}
