.sectionTitle {
  font-size: 5.3125vw;
  color: #333;
  line-height: 1;
  padding-left: 2.1875vw;
  border-left: 0.625vw solid #d33a31;
  margin-bottom: 5vw;
}

// 推荐歌单
.recommend-list {
  padding-top: 6.5625vw;

  > .lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > .item {
      margin-bottom: 5vw;
      position: relative;
      width: 32.8%;
      .music-img {
        width: 32.65625vw;
        height: 32.65625vw;
        vertical-align: middle;
      }
      .music-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 4.0625vw;
        padding: 1.875vw 0.625vw 0 1.875vw;
        line-height: 1.2;
      }
      .music-sums {
        position: absolute;
        right: 1.5625vw;
        top: 0.625vw;
        color: white;
        font-size: 3.75vw;
        display: flex;
        align-items: center;
        > .listeners {
          font-size: 0.875em;
        }
      }
    }
  }
}

// 最新音乐
.new-music {
  margin-top: 7.5vw;
  color: red;
  > .loading {
    text-align: center;
    > .loading-img {
      width: 6.25vw;
      height: 6.25vw;
    }
  }
}

// footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922")
    no-repeat center;
  background-size: cover;
  > .bottom-logo {
    margin-top: 13.4375vw;
    width: 71.875vw;
  }
  .button {
    border: 1px solid #d33a31;
    color: #d33a31;
    font-size: 5vw;
    padding: 2.8125vw 6.5625vw;
    border-radius: 6.25vw;
    margin-top: 4.375vw;
  }
  > .copyright {
    font-size: 3.75vw;
    transform: scale(0.75);
    color: #888;
  }
}
